<template name="workpackages">
  <div class="container">
    <div>
    {{#if workpackageCount}}
    <h1>Workpackages:</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Status</th>
        <th>Creator</th>
        <th>Create date</th>
        <th>Last update</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      {{#each workpackages}}
      <tr>
        <td>
          <a href="/workpackage/{{id}}">{{name}}</a>
        </td>
        <td>{{location}}</td>
        <td>{{status}}</td>
        <td>{{ownername}}</td>
        <td>{{created}}</td>
        <td>{{updated}}</td>
        <td>
          {{#if isMyWorkpackage}}
          <a href="/editworkpackage/{{id}}">Edit</a> / 
          <a id="delete-workpackage" data-id="{{id}}" href="">Delete</a>
          {{/if}}
        </td>
      </tr>
      {{/each}}
      </tbody>
    </table>
    {{else}}
    No workpackages found   
    {{/if}}
    </div>
  </div>
</template>